

h1{
    color: #28a745;
    font-size: 350%;
    border-radius: 5px ;
}

h2{
    color: #28a745;
}

.start{
    text-align: center;
    margin: 0 auto;
}

p{
    color: #000000;
    font-size: 20px;
}