body {
  background-image: url('../images/catinspace.jpg');
  font-family: 'Anton', sans-serif;
  color: black;
  letter-spacing: 2px;
}

h1 {
  font-size: 60px;
  color: #28a745;
}

h2{
  color: #28a745;
}

#splashscreen {
  background-color: white;
  background-repeat: no-repeat;
  width: 35%;
  margin: 0 auto;
  border-radius: 5px;
}

.black-background {
  background-color: #000000;
}

.white {
  color: #ffffff;
}

.splashBox {
  margin: 0 auto;
  text-align: center;
  padding: 4%;
  margin-top: 20%;
}

.splashBox2 {
  margin: 0 auto;
  text-align: center;
  padding: 4%;
}

.wrongBox {
  margin: 0 auto;
  text-align: center;
  padding: 4%;
}

label {
  color:#28a745;
}

#answerScreen {
  display: none;
  background-color: white;
  background-repeat: no-repeat;
  width: 40%;
  margin: 0 auto;
  padding: 2%;
  margin-top: 15%;
  font-size: 21px;
}

#timesUp {
  display: none;
  background-color: white;
  background-repeat: no-repeat;
  width: 35%;
  margin: 0 auto;
  padding: 2%;
  margin-top: 15%;
  font-size: 21px;
}

.up {
  color: red;
}

.timeRemain {
  padding: 2%;
  color:#28a745;
}

.timeRemain #time-remain {
  font-size: 60px;
}

body .container {
  background-color: white;
  height: 100%;
  text-align: center;
  display: none;
  margin-bottom: 5%;
  padding-bottom: 2%;
  margin-top: 5%;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.questions {
  font-size: 25px;
}

.ques,
label {
  padding: 1%;
}

header {
  font-size: 60px;
  color:#28a745;
  margin-top: 2%;
}
.btn{
  background-color: #28a745;
  color: #ffffff;
}